*{
	box-sizing:border-box;
}
body{
  font: 1.3em sans-serif;
}


/* Photo Gallery leyout responsive with css grid */
.gallery-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
  grid-gap:1rem; 
  /* padding: 1rem; */
}
.customVh90 {
  min-height: 90vh;
}
